@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(./public/wp2724629.webp);
    background-size: cover;

}

h3{
    font-weight: bold;
    font-size: 30px;
}

#clicker-counter{
    display: flex;
    align-items: center;
    justify-content: center;
}