@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(./public/wp2724629.webp);
    background-size: cover;
}

.image {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}